BAI509_Implementation/src/main/resources/META-INF/wsdl/CRM_BankmailAccess.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions targetNamespace="http://siebel.com/CustomUI" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://siebel.com/CustomUI" xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/07/secext" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/AABR%20Bankmail%20Calendar%20IO_Ext" xmlns:xsdLocal2="http://www.siebel.com/xml/AABR%20Bankmail%20Response%20IO">
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2002/07/secext">
			<xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
			<xsd:element name="Security" type="wsse:Security"/>
			<xsd:complexType name="Security">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="UsernameToken" type="wsse:UsernameToken"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UsernameToken">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="Username" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="Password" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
			<xsd:import namespace="http://www.siebel.com/xml/AABR%20Bankmail%20Response%20IO"/>
			<xsd:import namespace="http://www.siebel.com/xml/AABR%20Bankmail%20Calendar%20IO_Ext"/>
			<xsd:element name="BankmailPlus_1_Input">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="xsdLocal1:ListOfAabrBankmailCalendarIo_Ext"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BankmailPlus_1_Output">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Error_spcCode" type="xsd:string"/>
						<xsd:element name="Error_spcMessage" type="xsd:string"/>
						<xsd:element ref="xsdLocal2:ListOfBankmailResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/AABR%20Bankmail%20Calendar%20IO_Ext">
			<xsd:annotation>
				<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems,
					Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="ListOfAabrBankmailCalendarIo_Ext" type="xsdLocal1:ListOfAabrBankmailCalendarIo_Ext"/>
			<xsd:complexType name="ListOfAabrBankmailCalendarIo_ExtTopElmt">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="ListOfAabrBankmailCalendarIo_Ext" type="xsdLocal1:ListOfAabrBankmailCalendarIo_Ext"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ListOfAabrBankmailCalendarIo_Ext">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Users" type="xsdLocal1:Users"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Users">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="UserAccess" type="xsdLocal1:UserAccess"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ApplicationId" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="USERSBTID" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="Operation" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UserAccess">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="AccessSBTID" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/AABR%20Bankmail%20Response%20IO">
			<xsd:annotation>
				<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems,
					Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="ListOfBankmailResponse" type="xsdLocal2:ListOfBankmailResponse"/>
			<xsd:complexType name="ListOfBankmailResponseTopElmt">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="ListOfBankmailResponse" type="xsdLocal2:ListOfBankmailResponse"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ListOfBankmailResponse">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Users" type="xsdLocal2:Users"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Users">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="RecExists" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="ReturnCodes" type="xsdLocal2:ReturnCodes"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="AccessGrant" type="xsdLocal2:AccessGrant"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="USERSBTID" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ReturnCodes">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="ErrorCode" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ReturnCode" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AccessGrant">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="SBTACCESSID" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="BankmailPlus_1_Input">
		<part element="tns:BankmailPlus_1_Input" name="BankmailPlus_1_Input"/>
	</message>
	<message name="BankmailPlus_1_Output">
		<part element="tns:BankmailPlus_1_Output" name="BankmailPlus_1_Output"/>
	</message>
	<message name="PUTSecurity">
		<part element="wsse:Security" name="Security"/>
	</message>
	<portType name="BankmailAccess">
		<operation name="BankmailPlus_1">
			<input message="tns:BankmailPlus_1_Input"/>
			<output message="tns:BankmailPlus_1_Output"/>
		</operation>
	</portType>
	<binding name="BankmailAccess" type="tns:BankmailAccess">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="BankmailPlus_1">
			<soap:operation soapAction="document/http://siebel.com/CustomUI:BankmailPlus_1"/>
			<input>
				<soap:header message="tns:PUTSecurity" part="Security" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="AAB_spcBankmail_spcCal_spcAccess_spcInbound_spcWF">
		<port binding="tns:BankmailAccess" name="BankmailAccess">
			<soap:address location="http://n02ast0010-c03.nl.eu.abnamro.com:14243/eai_anon_enu/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"/>
		</port>
	</service>
</definitions>